﻿@model SampleApp1.Models.Customer[]

@functions {    }

@{
    ViewBag.Title = "顧客一覧";
    Layout = "_Layout";
}

<h2>顧客一覧</h2>

<table class="table">
    <thead>
    <tr>
        <th>氏名</th>
        <th>フリガナ</th>
        <th>電話番号</th>
        <th>生年月日</th>
        <th>年齢</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var customer in Model)
    {
        <tr>
            <td>@customer.Name</td>
            <td>@customer.Furigana</td>
            <td>@customer.PhoneNumber</td>
            <td>@customer.BirthDate.ToString("yyyy/MM/dd")</td>
            <td>@BirthDateUtility.GetAge(customer.BirthDate)</td>
        </tr>
    }
    </tbody>
</table>